<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <div class="container-fluid">
    <a class="navbar-brand" href="#">Elecciones 2021 EC</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#eleccionesNavMenu"
      aria-controls="eleccionesNavMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="eleccionesNavMenu">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/elecciones" routerLinkActive="active">Primera Vuelta</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/elecciones-segunda-vuelta" routerLinkActive="active">Segunda Vuelta</a>
        </li>
      </ul>
    </div>
  </div>
</nav>